
<div class="container">
  	<div class="row">
    	<div class="col-md-6 col-lg-6 col-sm-6">
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>id</th>
							<th>title</th><th>action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let department of departments">
							<td>{{department.id}}</td>
							<td>{{department.title}}</td>
							<td><a class="btn btn-sm" (click) ="delete(department.id)"><i class="fa fa-trash text-danger"></i></a></td>
							<td><a class="btn btn-sm" (click) ="edit(department)"><i class="fa fa-pencil text-warning"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<input type="text" [(ngModel)]="newDepartment.title">
				<button class="btn btn-warning btn-sm" (click)="update()">update</button>
				<label>{{newDepartment.title}}</label>
			</div>
			

		</div>
    	<div class="col-md-6 col-lg-6 col-sm-6">
			<br/>
			<div class="form-group">
				<label>Department Title</label>
				<input type="text" [(ngModel)]="departmentTitle">
				<button class="btn btn-sm btn-primary" (click)="add(departmentTitle)">add</button>
			</div>
		</div>
  	</div>
</div>

