<md-toolbar color="primary" class="top-nav">
    <h5>Payroll</h5>
	<!--<img src="./../assets/icon/software_logo.png" class="img-fluid" alt="logo" height="50px">-->
    <i class="example-spacer"></i>
	
    <button class="more-vert" md-button [mdMenuTriggerFor]="appMenu"><md-icon>more_vert</md-icon></button>
</md-toolbar>
<md-menu #appMenu="mdMenu" xPosition="before">
  <a md-menu-item routerLink="/home" routerLinkActive="active"><md-icon>account_circle</md-icon>profile</a>
  <a md-menu-item (click)="openDialog()"><md-icon>mail_outline</md-icon>message</a>
  <a md-menu-item routerLink="/home/setting"><md-icon>settings</md-icon>settings</a>
  <a md-menu-item routerLink="/home/employees"><md-icon>lock_outline</md-icon>logout</a>
</md-menu>

<!--<button (click)="toggleCollapse()" class="navbar-toggler navbar-toggler-right" type="button">
<div class="collapse" [class.show]="show">
	
</div>-->
<!--<div class="container-fluid">
	<div class="row">-->
		<div class="side-nav">
			<h5 class="side-nav-title">Settings</h5><hr>
			<ul>
				<li><a md-menu-item routerLink="/home/employees"><md-icon>group</md-icon>employees</a></li>
				<li><a md-menu-item routerLink="/home/mail"><md-icon>mail_outline</md-icon>Mail</a></li>
				<li><a md-menu-item routerLink="/home/employees/performance"><md-icon>show_chart</md-icon> Performance</a></li>
				<li><a md-menu-item routerLink="/home/setting"><md-icon>settings</md-icon>setting</a></li>
			</ul>
		</div>

		<div class="main-content">
			<router-outlet></router-outlet>
		</div>
	<!--</div>
</div>-->


<script src="/../..../socket.io"></script>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/tether/dist/js/tether.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
  $(function () {
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
  });
</script>
<!--<app-footer></app-footer>-->