.custom-modal .modal-header{
    background-color: #292b2c;
    color: white;
}

.blue-text{
    color: blue;
}

.big-text {
    font-size: 4em;
}

p:last-child{
    width: 300px;
    background: lightgray;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}